body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #006699;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #004d7a;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    border: 1px solid #004d7a;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    background-color: #006699;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #006699;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d7a;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: #006699;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
