body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; /* Couleur de fond de la page */
}

header {
    background: #006699; 
    color: white; /* Couleur du texte */
    padding: 20px; 
    text-align: center; /* Centrer le texte */
}

nav {
    background: #004d7a; /* Couleur de fond de la navigation */
    color: white; /* Couleur du texte */
    padding: 10px; /* Ajout de l'accolade manquante ici */
}

nav ul {
    list-style: none; /* Supprimer les puces de la liste */
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement sur les liens */
}

nav a:hover {
    text-decoration: underline; 
}

section {
    border: 1px solid #004d7a; 
    border-radius: 5px; 
    padding: 20px; 
    background-color: #ffffff; 
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

h2 {
    background-color: #006699; 
    color: white; 
    padding: 10px;
    border-radius: 5px; 
    margin: 20px 0; 
    text-align: center; /* Centrer le texte */
}

footer {
    text-align: center; 
    padding: 10px; 
    background: #006699; /* Couleur de fond du pied de page */
    color: white; /* Couleur du texte du pied de page */
    position: relative; 
    bottom: 0; /* Positionner en bas */
    width: 100%;
}
